footer {
    background-color: #000;
  }


  ::ng-deep .full-screen-modal .mat-dialog-container {
    background-image: url('/assets/login-lib.PNG');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ::ng-deep .full-screen-modal .mat-dialog-content {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
  }
  
  
  // Modal content styling
  .modal-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 100;
    }
  }