<app-home></app-home>

<button class="!bg-gray-500 m-2 !text-white py-2 px-4 rounded-[6px]" mat-raised-button (click)="openDialog(false)">Kategoriya Qo'shish</button> 

<p class="font-medium italic text-center text-2xl">Barcha content category'lar!</p>
  
<div class="container pt-5">  
<div class="flex justify-between">
  <div class="max-w-sm rounded overflow-hidden border flex w-[402px] h-[192px]" *ngFor="let item of contentCategories">

    <img class="w-[192px] p-2 pr-[14px] object-cover" [src]="item.image.filePath" alt="{{ item.name }}">
    
    <div class="px-1 py-4 w-1/2 flex flex-col justify-between">
        
      <div>
        <div class="font-bold text-xl mb-2">{{ item.name }}</div>

        <p class="text-gray-700 text-base !mb-0 !h-[52px] overflow-hidden">
          {{ item.description }}
        </p>
      </div>
  
      <div class="flex justify-end items-center gap-x-2">
        
        <button mat-raised-button color="primary" (click)="openDialog(true, item)">
          Tahrirlash
        </button>

        <button mat-raised-button color="warn" (click)="confirmDelete(item.id)">
          O'chirish
        </button>
      </div>
    </div>
  </div>
</div>
</div>
  

