.navbar{
    display: flex;
    align-items: center;
    background-color: #585656   ; 
    transition: 1s;
    padding: 5px 15px;
    color: #fff;  
}

.navbar-brand{

  color: #fff;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }

  .navbar a:hover {
    background-color: rgb(204, 204, 204, 0.3);//rgba(176, 169, 179, 0.3);
    opacity: 0.9;
    color: #fff;
  }
  
  .navbar:hover{
    opacity: 0.9;
    transition: 1s;
  }

  .navbar-left {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .navbar-right {
    display: flex;
    gap: 5px;
  }

  .navlink-container{
    flex-grow: 1;
    display: flex;   
    align-items: center;
    column-gap: 20px;
    justify-content: flex-end;
  }

  .navlink-container a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
    mat-icon{
      padding-right: 5px;
    }
  
    .profile-link{
      margin-right: 7px;
    }