<router-outlet></router-outlet>

<nav class="navbar">
    <div class="navbar-left">
      <img src="assets/logo.PNG" alt="logotip" class="h-[70px]">
    </div>

    <div class="navlink-container">
        <div class="navbar-right">
          <a class="nav-link flex items-center gap-2 text-gray-700 hover:text-blue-600 transition" routerLink="/home">
            <mat-icon>home</mat-icon>
            Asosiy sahifa
          </a>
          
          
            <a class="nav-link" routerLink="/category">Barcha kategoriyalar</a>
            <a class="nav-link" routerLink="/encourage">Rag'banlashtirish</a>
            <a class="nav-link" routerLink="/categories" *ngIf="userRole !== 'User'">Categories</a>
            <a class="nav-link profile-link" [matMenuTriggerFor]="contentMenu">
             <span class="mr-2">Mavzular</span>
              <mat-icon class="!text-yellow-400">folder</mat-icon>
          </a>
          
          <mat-menu #contentMenu="matMenu">
              <button mat-menu-item routerLink="/article">
                  <mat-icon class="!text-blue-300">article</mat-icon>
                  <span>Xabarlar</span>
              </button>
              <button mat-menu-item routerLink="/books">
                  <mat-icon class="!text-blue-300">menu_book</mat-icon>
                  <span>Kitoblar</span>
              </button>
              <!-- <button mat-menu-item routerLink="/videos">
                  <mat-icon class="!text-blue-300">videocam</mat-icon>
                  <span>Videolar</span>
              </button> -->
          </mat-menu>
          

            <a class="nav-link" routerLink="/questions" *ngIf="userRole !== 'User'">Savollar</a>
            <a class="nav-link" routerLink="/quiz" *ngIf="userRole !== 'User'">Viktorina</a>

              <a class="nav-link profile-link" [matMenuTriggerFor]="profileMenu">
                <mat-icon>person</mat-icon> Profile 
              </a>
              
              <mat-menu #profileMenu="matMenu">
                <button mat-menu-item routerLink="/profile">
                  <mat-icon>account_circle</mat-icon>
                  <span>Account</span>  
                </button>
                
                <button mat-menu-item (click)="openConfirmationLog()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Log Out</span>
                </button>
              </mat-menu>

        </div>
    </div>
</nav>
